dev-lang/php acl berkdb bzip2 cli crypt ctype fileinfo filter gdbm hash iconv ipv6 json mysql nls opcache phar posix readline session simplexml ssl threads tokenizer unicode xml zlib calendar curl exif fpm ftp gd imap inifile intl mysqli pcntl pdo postgres soap sockets spell sqlite xmlreader xmlrpc xmlwriter xslt zip

app-eselect/eselect-php fpm
