{% set domain_current = item.path | webfolder2domain %}
{% set domain_hashttps = '1' if item.path in domains_certificates else '0' %}
server {
	listen              0.0.0.0:80;
	server_name         {{ domain_current }};

	#
	# Log management
	#
	access_log          {{ item.path }}/logs/nginx/access.http.log main;
	error_log           {{ item.path }}/logs/nginx/error.http.log debug;

	#
	# Common configuration
	#
{% if domain_hashttps and domain_current not in domain_allowhttp %}
	return              301 https://$host$request_uri;
{% else %}
	include             {{ item.path}}/conf/nginx.common.conf;
{% endif %}

}

{% if domain_hashttps | bool %}
server {
	listen              0.0.0.0:443 ssl;
	server_name         {{ domain_current }};

	#
	# SSL Configuration
	#
	ssl_certificate     {{ item.path }}/priv/cert.pem;
	ssl_certificate_key {{ item.path }}/priv/privkey.pem;

	#
	# Log management
	#
	access_log          {{ item.path }}/logs/nginx/access.https.log main;
	error_log           {{ item.path }}/logs/nginx/error.https.log debug;

	#
	# Common configuration
	#
	include             {{ item.path }}/conf/nginx.common.conf;

}
{% endif %}
