server {
	listen              0.0.0.0:80;
	server_name         {{ item.path | webfolder2domain }};

	#
	# Log management
	#
	access_log          {{ item.path }}/logs/nginx/access.http.log main;
	error_log           {{ item.path }}/logs/nginx/error.http.log debug;

	#
	# root configuration
	#
	include             {{ item.path}}/conf/nginx.common.conf;

}

server {
	listen              0.0.0.0:443 ssl;
	server_name         {{ item.path | webfolder2domain }};

	#
	# SSL Configuration
	#
	ssl_certificate     {{ item.path }}/priv/cert.pem;
	ssl_certificate_key {{ item.path }}/priv/privkey.pem;

	#
	# Log management
	#
	access_log          {{ item.path }}/logs/nginx/access.https.log main;
	error_log           {{ item.path }}/logs/nginx/error.https.log debug;

	#
	# Common configuration
	#
	include             {{ item.path }}/conf/nginx.common.conf;

}
